function Main.main 1
push constant 69
call Output.drawChar 1
pop temp 0
push constant 1
push constant 2
call Output.moveCursor 2
pop temp 0
push constant 69
call Output.drawChar 1
pop temp 0
push constant 0
return
